/* Common */
header, nav, article, aside, section, footer {
  display: block;
}

body {
/*  background-color: #DDEEFF; */
  background-color: #FFFFFF;
  color: #555555;
}
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
strong {
  color: #FF0000;
}

h1.timeline-Header-title {
  font-size: 1em;
}
/* Top Line */
header {
  height: 160px;
}
header > div.title {
  background:url("../images/back_img.jpg") no-repeat;
  height: 100%;
}
header > div.title > div.title_contents {
  margin-left: 6vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header span.title_main {
  font-size: 2em;
}
header span.title_sub {
  padding-left: 1em;
  font-size: 1em;
}

/* Navigation */
nav {
  width: 100%;
}
nav div {
  margin: 0 auto;
  width: 600px;
}
nav div ul li {
  width: 20%;
  text-align: center;
  border-right: 1px solid #DDD;
}

/* Side Menu and Main Contents */
div.wrapper {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
aside.sidemenu {
  width: 240px;
  margin-right: 40px;
}



/* Side Menu */

aside.sidemenu {
  background-color: #FFFFFF;
}
aside.sidemenu > div {
  margin-right: 20px;
}

ul.navi {
  padding: 0;
  list-style: none;
}
ul.navi li {
  padding-left: 20px;
  border-bottom: 1px dashed;
}
ul.navi img {
  margin-right: 10px;
}
ul.navi li a {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  vertical-align: middle;
}

/* Main Contents */
main {
/*  width: 600px;*/
  max-width: 600px;
  min-width: 320px;
  background-color: #FFFFFF;
}
main section {
  margin-bottom: 40px;
}
main section > div.section-content {
  padding-left: 20px;
}
table.timetable {
  max-width: 500px;
}
table.timetable th, table.timetable tr, table.timetable td {
  border: 1px solid #555555;
  text-align: center;
  padding: 0.1em 0.5em;
}
table.timetable th {
  background-color: #F0F0F0;
}

/* Map */
.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  }
   
  .ggmap iframe,
  .ggmap object,
  .ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

/* Footer */
footer {
  text-align: center;
  font-size: 0.8em;
}

/* Twitter */
.box26 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}
.box26 p {
  margin: 0; 
  padding: 0;
}